.card-body {
    background: transparent !important;
    border-color: whitesmoke !important;
    border-radius: 15px !important;
    color: #f5f5f5;
    display: block;
    max-height: 450px !important;
    font-weight: bold;
    margin: 20px;
    overflow: scroll;
}

.card-buttons {
    background: transparent !important;
    border-color: #388087 !important;
}

.card-buttons:hover {
  color: #388087 !important;
  background-color: transparent !important;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1) !important;
  border: 0.5px solid transparent !important;
}

.card-grid {
  min-height: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
}

/* .button-divider {
    width:3.5px;
    height:auto;
    display:inline-block;
} */