.background {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(../../images/particles.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.my-name {
    margin-top: 2em;
	font-size: 70px;
	font-family: "Nanum Myeongjo", sans-serif;
    color: whitesmoke;
}

hr.about-page-line {
    border: 1px solid whitesmoke;
}

.hero-text {
    color: whitesmoke;
}

.header {
	font-size: 100px !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.typeWriter {
	margin-top: 0em;
    margin-left: -0.5em;
	font-size: 40px;
	font-family: "Nanum Myeongjo", sans-serif;
}