.background {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.824), rgba(0, 0, 0, 0.523)), url(../../images/particles.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.my-name {
	font-size: 50px;
	font-family: "Nanum Myeongjo", sans-serif;
    color: whitesmoke;
}

.myPicImage {
  display: block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

hr.about-page-line {
    border: 1px solid whitesmoke;
}


.hero-text {
    color: whitesmoke;
}

.header {
	font-size: 100px !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.typeWriter {
	font-size: 40px;
	font-family: "Nanum Myeongjo", sans-serif;
    font-weight: bold;
}

#modal-row {
    margin-left: 1em;
}
