.navbar {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    right: 0;
}

.navbar-link {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  color: rgb(193, 191, 191);
  transition: .5s;
}

.navbar-link:hover:before {
  transform: scale(1.2);
  filter: blur(3px);
}

.navbar-link:hover {
  color: #388087;
  text-shadow: 0 0 15px #01ffc4b1;
}

span {
    margin-left: 16px;
}