.about-me-button {
  color: whitesmoke !important;
  background-color: #388087 !important;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1) !important;
  border: 0.5px solid transparent !important;
}

.about-me-button:hover:before {
  transform: scale(1.2);
  filter: blur(3px);
}

.about-me-button:hover {
  color: #388087;
  box-shadow: 0 0 15px #01ffc4b1 !important;
  text-shadow: 0 0 15px #388087;
}

.modal-close-btn {
    color: #388087;
}

.wave {
  font-size: 55px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
