.footer {
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #000;
  text-align: center;
  position: relative;
  width: 100%;
  left: 0px;
  bottom: 0;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0rem;
  height: 40px;
  color: rgb(57, 53, 53);
  font-family: "Lato", sans-serif !important;
}

.letter-g {
  color: #388087;
  font-family: "Great Vibes", sans-serif;
}