@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}



.tech-skills ul {
  list-style-type: none;
}

.resume-page {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.824), rgba(0, 0, 0, 0.523)),  url(./images/particles.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(245, 245, 245, 0.897);
}

.resume-btn {
  border-radius: 5px;
  background: #388087;
  color: white;
  transition: 0.25s ease;
  border: none;
  font-size: 16px;
  padding: 8px 10px;
  width: 280px;
  margin: 0;
}

.resume-btn:hover {
  color: #388087;
  background-color: transparent;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border: 0.5px solid transparent;
}

.portfolio-page {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.824), rgba(0, 0, 0, 0.523)),  url(./images/particles.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100vh;
  color: rgba(245, 245, 245, 0.897);
}

.p1, .p2, .p3, .p4 {
  color: whitesmoke;
}

hr.about-line {
  border: 1px solid whitesmoke;
}

hr.resume_line {
  border: 2px solid;
}

hr.skills-line {
  border: 1px solid;
}