@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.resume-page {
  background: linear-gradient(to right, rgba(148, 148, 148, 0.7), rgba(41, 41, 41, 0.1)),  url(./images/rice-paper2.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resume-btn {
  border-radius: 5px;
  background: #388087;
  color: white;
  transition: 0.25s ease;
  border: none;
  font-size: 16px;
  padding: 8px 10px;
  width: 280px;
  margin: 0;
}

.resume-btn:hover {
  color: #388087;
  background-color: transparent;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  border: 0.5px solid transparent;
}

.portfolio-page {
  background: linear-gradient(rgba(9, 9, 9, 0.851), rgba(4, 4, 4, 0.475)),  url(./images/another-background.jpeg); 
    background-position: center;
    background-size: cover;

}

.p1, .p2, .p3, .p4 {
  color: whitesmoke;
}

hr.about-line {
  border: 1px solid whitesmoke;
}

hr.resume_line {
  border: 2px solid;
}